body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    grid-auto-rows: 10px;
    grid-template-areas:
      "a b c"
      "d e f";
    display: flex;
    flex-wrap: wrap;
 

  }
  img {
   
    width: 30%;
    height: auto;
  }

  .a {
    grid-area: a;
 
  }
  .b {
    grid-area: b;
    
  }
  .c {
    grid-area: c;
   
  }
  .d {
    grid-area: d;

  }
  .e {
    grid-area: e;

  }
  .f {
    grid-area: f;
    
  }

    /* Responsive Design */
    @media (max-width: 768px) {
        .main-content {
        flex-direction: column; /* Stacks the columns vertically */
        }
       }